{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6">
            </div>
            <div class="col-12">
                <div class="header-content ml-auto">
                    <div class="header-text">
                        <h1 id="hp-header-h1">Flour & Fauna</h1>
                        <p id="hp-header">Shop Now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid div-section">
    <div class="container hp-section-1-heading">
        <h3 class="new">Latest Products</h3>
    </div>
    <!--- latest products --->
    <div class="row hp-section-1 mt-4">
        <div class="container">
            <div class="row product-card-row mb-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <div class="product-card-content">
                                <!--- product one --->
                                <a href="{% url 'products' %}" class="product-page-link">
                                    <img class="div-product-card-img" src="/media/logo.png" alt="product image">
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <!--- product two --->
                            <div class="product-card-content">
                                <a href="{% url 'products' %}" class="product-page-link">
                                    <img class="div-product-card-img" src="/media/logo.png" alt="product image">
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <!--- product three --->
                            <div class="product-card-content">
                                <a href="{% url 'products' %}" class="product-page-link">
                                    <img class="div-product-card-img" src="/media/logo.png" alt="product image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 half-left ">
            <img src="/media/logo.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 half-right">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="custom">Custom Cakes</h2>
                        <p class="section-2-p">custom cakes text</p>
                        <div class="section-cta">
                            <a href="{% url 'products' %}" class="cta cta-white ml-auto">Shop here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}