{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="home" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8">
                <h2 class="mt-5">
                    Flour & Fauna 
                </h2>
                <div class="shop-now">
                    <h3 class="mt-5">
                        <a href="{% url 'products' %}" class="btn btn-md btn-secondary rounded-0 text-uppercase py-3 shop">Shop Now</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="container-fluid">
    <div class="hero-title">
        <h1>
            Popular Products
        </h1>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div>
        <div class="col-12 mt-3 center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card md-4 index-image">
                        <div>
                            <img src="/media/bagel.jpg" alt="bagel" class="card-img-top index-button-image">
                            <a href="{% url 'products' %}?category=bread" class="index-link">Bread</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card md-4 index-image">
                        <div>
                            <img src="/media/berries.jpg" alt="bagel" class="card-img-top index-button-image">
                            <a href="{% url 'products' %}?category=bread" class="index-link">Bread</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}